KOLLYWOOD_POSTGRES_PROJECT_NAME=kollywood-postgres
KOLLYWOOD_POSTGRES_CONTAINER_NAME=kollywood-postgres
KOLLYWOOD_POSTGRES_IMAGE_TAG=16
KOLLYWOOD_POSTGRES_PORT=5432
KOLLYWOOD_POSTGRES_DB=kollywood_prod
KOLLYWOOD_POSTGRES_USER=kollywood
KOLLYWOOD_POSTGRES_PASSWORD=REPLACE_ME_POSTGRES_PASSWORD
KOLLYWOOD_POSTGRES_DATA_DIR=$HOME/.local/share/kollywood/postgres/data
